<div class="card">
    <div class="container">
      <h1 class="user">Reset Password</h1>
      <hr class="hr">
      <form class="login" (ngSubmit)="resetPassword()">
        <table class="col-1">
          <input type="text" class="form-input" placeholder="Enter New Password" [(ngModel)]="newPassword" name="newPassword" required>
          <input type="password" class="form-input" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
          <div class="btn">
            <button class="form-button" type="submit">
             
              <span *ngIf="!loading">Submit</span>
              <span *ngIf="loading">Logging in...</span>
            </button>
          </div>
        </table>
      </form>
      <div *ngIf="loading" class="loading-indicator">
        <!-- Add your loading spinner or animation here -->
        <!-- For example, you can use a CSS spinner or an animated GIF -->
        <!-- Example CSS spinner -->
        <div class="spinner"></div>
      </div>
      <!-- Display error message -->
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
  </div>
  