/* Common styles for all screen sizes */
.col-1 {
  margin-left: 10%; /* Adjust margin for smaller screens */
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%; /* Adjust width for smaller screens */
  padding-top: 20px;
  margin-bottom: 20px; /* Add bottom margin */
}

.form-input {
  height: 35px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid rebeccapurple;
  color: rgb(12, 12, 12);
  width: 90%; /* Adjust width for smaller screens */
  margin: 5px auto; /* Center the input */
}

.form-button,
.form-button-sub {
  width: 30%; /* Adjust button width */
  height: 35px;
  border: 1px solid rgb(69, 72, 70);
  cursor: pointer;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(4, 145, 37);
  color: aliceblue;
}

/* Adjust margin for the second button */
.form-button-sub {
  margin-top: 10px;
}

.login {
  color: rgb(95, 105, 101);
  padding: auto;
  margin: auto;
  border-color: azure;
}

.user {
  color: rgb(99, 79, 79);
  text-align: center;
  margin-top: 5%; /* Adjust top margin for smaller screens */
  font-size: large;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%; /* Adjust card width */
  margin-left: 25%; /* Center the card */
  margin-top: 5%; /* Adjust top margin for smaller screens */
  height: 50vh;
}

/* Styles for screens smaller than 600px (most mobile devices) */
@media screen and (max-width: 600px) {
  .col-1 {
    margin-left: 5%;
    width: 90%;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .form-input,
  .form-button,
  .form-button-sub {
    width: 90%;
    margin: 5px auto;
  }

  .card {
    width: 90%;
    margin: 10px auto;
  }

  .user {
    margin: 10px 0;
    font-size: medium;
    text-align: center;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
  }
}
/* CSS for circular spinner */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height and width as needed */
}

.spinner-circle {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Change border width and color */
  border-left-color: #7983ff; /* Change the color of the spinner */
  border-radius: 50%;
  width: 40px; /* Change the width and height for the spinner size */
  height: 40px; /* Should be equal to the width */
  animation: spin 1s linear infinite; /* Animation for spinning effect */
}

/* Keyframes for spinning animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.success-message {
  text-align: center;
  margin-top: 20px;
  color: #4CAF50; /* Change the text color to a green shade */
  font-weight: bold; /* Make the text bold */
  font-size: 1.2em; /* Adjust the font size */
}
