/* Common styles for all screen sizes */
.col-1 {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    padding-top: 20px;
  }
  
  .form-input {
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid rebeccapurple;
    color: rgb(12, 12, 12);
  }
  
  .form-button,
  .form-button-sub {
    width: 100px;
    height: 35px;
    border: 1px solid rgb(69, 72, 70);
    cursor: pointer;
    margin-top: 10px;
    margin-left: 200px;
    background-color: rgb(4, 145, 37);
    color: aliceblue;
  }
  
  .form-button-sub {
    width: 150px;
    margin-left: 8px;
  }
  
  .login {
    color: rgb(95, 105, 101);
    padding: auto;
    margin: auto;
    border-color: azure;
  }
  
  .user {
    color: rgb(99, 79, 79);
    text-align: center;
    margin-top: 60px;
    margin-left: 20px;
    font-size: large;
  }
  
  .btn {
    display: flex;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    margin-left: 550px;
    margin-top: 50px;
    height: 50vh;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .hr {
    border: 1px solid rgb(77, 79, 77);
  }
  
  /* Styles for screens smaller than 600px (most mobile devices) */
  @media screen and (max-width: 600px) {
    .col-1 {
      margin-left: 10px;
      width: auto;
      padding-top: 10px;
    }
  
    .form-input,
    .form-button,
    .form-button-sub {
      width: 100%;
      margin: 5px 0;
      
    }
  
    .card {
      width: 90%;
      margin: 20px auto;
    }
  
    .user {
      margin: 20px 0;
      font-size: medium;
      text-align: center;
    }
  
    .card {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .loading-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100%;
    margin-left: 150px;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db; /* Change color as needed */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }