<div class="card">
    <div class="container">
      <h1 class="user">Forget Password</h1>
      <hr class="hr" />
  
      <form class="login" (ngSubmit)="forgetPassword()">
        <table class="col-1">
          <input
            type="text"
            class="form-input"
            name="emailId"
            placeholder="Please enter the Email-id"
            required
            [(ngModel)]="forget.emailId"
          />
  
          <div class="btn">
            <button class="form-button" type="submit">Submit</button>
          </div>
        </table>
      </form>
      <ngx-spinner bdOpacity="0.9" size="medium" color="#fff" [fullScreen]="false" [type]="'square-jelly-box'"></ngx-spinner>

      <ng-container *ngIf="showSuccessMessage">
        <div class="success-message">
          {{ showSuccessMessage }}
        </div>
      </ng-container>
    </div>
  </div>
