<div class="container">
  <h1 class="user">Corporate User Details</h1>

  <table>
    <thead>
      <tr>
        <th>Entity Name</th>
        <th>Entity Email</th>
        <th>GST Document</th>
        <th>Financial Document</th>
        <th>User Name</th>
        <th>User Number</th>
        <th>Beneficiary Name</th>
        <th>Bank Account Details</th>
        <th>Swift Code</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let registrationEntity of getUserDetails[0]?.registrationEntities
        "
      >
        <td>
          <ng-container *ngIf="!registrationEntity.editMode">{{
            registrationEntity.entityName
          }}</ng-container>
          <ng-container *ngIf="registrationEntity.editMode"
            ><input
              [(ngModel)]="registrationEntity.entityName"
              placeholder="Entity Name"
          /></ng-container>
        </td>
        <td>
          <ng-container *ngIf="!registrationEntity.editMode">{{
            registrationEntity.emailId
          }}</ng-container>
          <ng-container *ngIf="registrationEntity.editMode"
            ><input
              [(ngModel)]="registrationEntity.emailId"
              placeholder="Entity Email"
          /></ng-container>
        </td>
        <td>
          <a href="{{ registrationEntity.gstcertificates }}" target="_blank"
            >View GST Document</a
          >
        </td>
        <td>
          <a href="{{ registrationEntity.finacialCetificates }}" target="_blank"
            >View Financial Document</a
          >
        </td>
        <td>{{ registrationEntity.userName }}</td>
        <td>{{ registrationEntity.mobileNumber }}</td>
        <td>{{ registrationEntity.beneficiary }}</td>
        <td>{{ registrationEntity.accountNumber }}</td>
        <td>{{ registrationEntity.swiftCode }}</td>
        <td class="icon-container">
          <mat-icon
            class="pointer pr-5"
            (click)="openEditModal(registrationEntity)"
            >edit</mat-icon
          >
          <mat-icon class="pointer pr-1" (click)="openModal(registrationEntity)"
            >pause</mat-icon
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showModal" class="fixed top-0 left-0 flex justify-center items-center w-full h-full bg-gray-800 bg-opacity-50">
  <div class="bg-white rounded-lg w-1/4 p-4">
    <p>Are you sure you want to pause this user's account?</p>
    <div class="flex justify-end pt-4">
      <!-- Button to confirm deactivation -->
      <button 
      type="button" 
      class="px-4 py-2 bg-red-500 text-white rounded focus:outline-none hover:bg-red-600 mr-4" 
      (click)="pauseEntity(selectedEntity)">
      Yes, Pause Account
    </button>
      <!-- Button to cancel deactivation -->
      <button type="button" class="px-4 py-2 bg-gray-500 text-white rounded focus:outline-none hover:bg-gray-600" (click)="showModal = false">
        Cancel
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="showEditModal"
  class="fixed top-0 left-0 flex justify-center items-center w-full h-full bg-gray-800 bg-opacity-50"
>
  <div class="bg-white rounded-lg w-1/2 p-4">
    <div class="flex justify-between items-center border-b pb-2 mb-4">
      <h4 class="text-lg font-semibold">Edit User Details</h4>
      <button
        type="button"
        class="text-red-500 hover:text-red-700 focus:outline-none"
        (click)="closeEditModal()"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <div class="modal-body border-cyan-400">
      <form (submit)="updateEntity(selectedEntity)">
        <p>Corporate ID: {{ selectedEntity?.corporateId }}</p>
      <div class="flex ml-0">
        <div>
          <p>
           Entity Name:
  
            <input
              [(ngModel)]="selectedEntity.entityName"
              placeholder="Entity Name"
              class="form-input"
            />
          </p>
          <p>
           Entity Email:
  
            <input
              [(ngModel)]="selectedEntity.emailId"
              placeholder="Entity Email"
              class="form-input"
            />
          </p>
          <p>
           Beneficiary Name:
  
            <input 
            [(ngModel)]="selectedEntity.name" 
            placeholder="Entity Beneficiary Name:" 
            class="form-input-b"
            />
          </p>
          <p>
           Entity Number
  
            <input
              [(ngModel)]="selectedEntity.number"
              placeholder="Entity Number"
              class="form-input-n"
            />
          </p>
         </div>
         <div class="px-2">
         
          <p>
           Swift Code:
  
            <input
              [(ngModel)]="selectedEntity.emailId"
              placeholder="swift Code"
              class="form-input"
            />
          </p>
        
          <p>
            Bank Details:
  
            <input
              [(ngModel)]="selectedEntity.number"
              placeholder="Bank Details"
              class="form-input-n"
            />
          </p>
         </div>
      </div>

        <div class="flex justify-end pt-4">
          <button
            type="button"
            class="px-4 py-2 bg-orange-500 text-white rounded focus:outline-none hover:bg-red-600 mr-4"
            (click)="closeEditModal()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="px-4 py-2 bg-red-500 text-white rounded focus:outline-none hover:bg-red-600"
          >
            Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
